In [1]:
import aqt

from anki import scheduler_pb2

from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sns
import scipy

from dateutil.parser import parse as dt_parse

import datetime, itertools, time

In [2]:
col = mw.col

In [3]:
col.db.execute("""
SELECT count(*) FROM revlog
""")

[[15388]]

In [18]:
col.db.execute("""
SELECT * FROM revlog ORDER BY id DESC LIMIT 5
""")

[[1673568132079, 1672682213036, -1, 1, -600, -600, 2150, 3982, 2],
 [1673568125166, 1672682213036, -1, 1, -600, -600, 2150, 6835, 2],
 [1673567392488, 1672682213036, 2060, 1, -600, -600, 2150, 4335, 2],
 [1673496684038, 1672682213036, 2041, 1, -600, -600, 2150, 3727, 2],
 [1673466009746, 1673465973562, 2025, 1, -60, 0, 0, 2133, 0]]

In [19]:
col.db.execute("""
SELECT id,del FROM review_notes ORDER BY id DESC LIMIT 5
""")

[[1673568132079, 0],
 [1673568125166, 1],
 [1673567392488, 0],
 [1673496684038, 0],
 [1673466009746, 0]]

In [3]:
col.db.execute("""
SELECT * FROM reviews ORDER BY id DESC LIMIT 5
""")

sql: SELECT * FROM reviews ORDER BY id DESC LIMIT 5

[[1673496684038, 1672682213036, 2041, 1, -600, -600, 2150, 3727, 2, '', '', 0],
 [1673466009746, 1673465973562, 2025, 1, -60, 0, 0, 2133, 0, '', '', 0],
 [1673466007578, 1672682213036, 2025, 1, -600, -600, 2150, 7062, 2, '', '', 0],
 [1673397372970, 1672682289623, 2008, 4, 2, -600, 2300, 1199, 2, '', '', 0],
 [1673397371737, 1672682289623, 2008, 2, -900, -600, 2300, 2071, 2, '', '', 0]]

sql: SELECT val FROM config WHERE KEY = 'reviewSortType'
sql: SELECT val FROM config WHERE KEY = 'browserReviewSortBackwards'
sql: SELECT val FROM config WHERE KEY = 'activeReviewCols'
sql: SELECT val FROM config WHERE KEY = 'normalize_note_text'
sql: SELECT val FROM config WHERE KEY = 'curDeck'
sql: SELECT id,   name,   mtime_secs,   usn,   common,   kind FROM decks where id = 1672682062563
sql: select r.id from reviews as r, cards c where r.cid=c.id and ((c.did in (select id from decks where name regexp '(?i)^MathCalculusReviews for testing($|)') or (c.odid != 0 and c.odid in (select id from decks where name regexp '(?i)^MathCalculusReviews for testing($|)')))) order by r.id asc
sql: savepoint rust
sql: SELECT val,   usn,   mtime_secs FROM config WHERE KEY = 'browserTableMode'
sql: INSERT   OR REPLACE INTO config (KEY, usn, mtime_secs, val) VALUES ('browserTableMode', -1, 1673581194, x'225222')
sql: select mod, scm, ls from col
sql: update col set mod=1673581194086
sql: release rust
sql: SELECT DISTINCT id FROM revlog             WHERE cid IN (1672682213036)
sql: SELECT DISTINCT id FROM revlog             WHERE cid IN (1672682213036)
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1609718400000
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682213036
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682213036
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1609718400000
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682213036
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682213036
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1609718700000
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682213036
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682213036
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1609719000000
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682213036
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682213036
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1609719060000
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682213036
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682213036
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1609719120000
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682213036
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682213036
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682332155
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682213036
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682213036
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682339012
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682252634
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682252627
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682340084
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682273365
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682273365
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682341306
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682289623
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682289622
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682344964
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682309641
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682309641
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682346916
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682273365
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682273365
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682347659
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682213036
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682213036
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682348970
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682252634
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682252627
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682349963
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682273365
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682273365
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682350731
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682252634
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682252627
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682351443
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682289623
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682289622
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682352676
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682273365
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682273365
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682353459
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682289623
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682289622
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682359468
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682273365
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682273365
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682360378
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682213036
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682213036
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682362378
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682252634
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682252627
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682363067
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682273365
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682273365
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682363579
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682252634
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682252627
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682364083
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682273365
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682273365
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682364523
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682309641
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682309641
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682366124
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682252634
sql: SELECT id,   guid,   mid,   mod,   usn,   tags,   flds,   cast(sfld AS text),   csum FROM notes where id = 1672682252627
sql: SELECT val FROM config WHERE KEY = 'browserTableMode'
sql: SELECT revlog.id,   revlog.cid,   revlog.usn,   revlog.ease,   cast(revlog.ivl AS integer),   cast(revlog.lastIvl AS integer),   revlog.factor,   revlog.time,   revlog.type,   revlog.mod,   revlog.feedback,   revlog.tags FROM reviews AS revlog where id=1672682367147
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id = 1672682309641

In [ ]:
col.db.execute("""
DELETE FROM reviews WHERE id=
""")

In [12]:
col.db.execute("""
SELECT * FROM revlog WHERE id = 1673496684038
""")

sql: SELECT * FROM revlog WHERE id = 1673496684038

[[1673496684038, 1672682213036, 2066, 1, -600, -600, 2150, 3727, 2]]

In [13]:
col.db.execute("""
SELECT * FROM revlog WHERE id = 1673496684038
""")

sql: SELECT * FROM revlog WHERE id = 1673496684038

[[1673496684038, 1672682213036, 2066, 1, -600, -600, 2150, 3727, 2]]

In [14]:
col.db.execute("""
SELECT * FROM revlog WHERE id = 1673496684038
""")

[[1673496684038, 1672682213036, 2066, 1, -600, -600, 2150, 3727, 2]]

sql: SELECT * FROM revlog WHERE id = 1673496684038

In [8]:
col.db.execute("""
SELECT * FROM revlog ORDER BY id DESC LIMIT 1
""")

sql: SELECT * FROM revlog ORDER BY id DESC LIMIT 1

[[1673582757562, 1672682213036, -1, 1, -600, -600, 2150, 4328, 2]]

In [ ]:
col.db.execute("""
SELECT * FROM revlog ORDER BY id DESC LIMIT 1
""")

In [20]:
col.db.execute("""
SELECT CASE (1 == 1) WHEN 1 THEN 'Y' ELSE 'N' END
""")

sql: SELECT CASE (1 == 1) WHEN 1 THEN 'Y' ELSE 'N' END

[['Y']]

In [21]:
col.db.execute("""
SELECT CASE (2 == 1) WHEN 1 THEN 'N' ELSE 'N' END
""")

sql: SELECT CASE (2 == 1) WHEN 1 THEN 'N' ELSE 'N' END

[['N']]

sql: select mod from col
sql: rollback
sql: select mod, scm, ls from col
sql: select mod from col
sql: begin exclusive
sql: select id, name from decks order by name
sql: SELECT id,   name,   mtime_secs,   usn,   common,   kind FROM decks
sql: select null from cards where did=1
sql: SELECT val FROM config WHERE KEY = 'lastUnburied'
sql: SELECT val FROM config WHERE KEY = 'normalize_note_text'
sql: DROP TABLE IF EXISTS search_cids;
sql: CREATE TEMPORARY TABLE search_cids (cid integer PRIMARY KEY NOT NULL);
sql: insert into search_cids select c.id from cards c where c.queue in (-2,-3)
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id in (select cid from search_cids)
sql: drop table if exists search_cids
sql: SELECT val,   usn,   mtime_secs FROM config WHERE KEY = 'lastUnburied'
sql: INSERT   OR REPLACE INTO config (KEY, usn, mtime_secs, val) VALUES ('lastUnburied', -1, 1673615928, x'31383737')
sql: SELECT val FROM config WHERE KEY = 'localOffset'
sql: SELECT val FROM config WHERE KEY = 'schedVer'
sql: SELECT val FROM config WHERE KEY = 'rollover'
sql: select crt from col
sql: SELECT val FROM config WHERE KEY = 'creationOffset'
sql: SELECT val FROM config WHERE KEY = 'collapseTime'
sql: SELECT val FROM config WHERE KEY = 'schedVer'
sql: SELECT val FROM config WHERE KEY = 'sched2021'
sql: SELECT val FROM config WHERE KEY = 'schedVer'
sql: SELECT did,   -- new   sum(queue = 0),   -- reviews   sum(     queue = 2     AND due <= 1877   ),   -- interday learning   sum(     queue = 3     AND due <= 1877   ),   -- intraday learning   sum(     (       CASE         2         WHEN 2 THEN (           -- v2 scheduler           (             queue = 1             AND due < 1673617128           )           OR (             queue = 4             AND due <= 1673617128           )         )         ELSE (           -- v1 scheduler           CASE             WHEN queue = 1             AND due < 1673617128 THEN left / 1000             ELSE 0           END         )       END     )   ),   -- total   COUNT(1) FROM cards group by did
sql: SELECT id,   name,   mtime_secs,   usn,   config FROM deck_config
sql: SELECT val FROM config WHERE KEY = 'curDeck'
sql: SELECT COUNT(),   coalesce(sum(time) / 1000.0, 0.0) FROM reviews AS revlog WHERE id > 1673607600000   AND type != 4
sql: SELECT val FROM config WHERE KEY = 'schedVer'
sql: select mod from col
sql: rollback
sql: select mod, scm, ls from col
sql: select mod from col
sql: begin exclusive
1673615929.031 GET /_anki/legacyPageData
1673615929.056 GET /_anki/legacyPageData
1673615929.067 GET /_anki/css/webview.css
1673615929.070 GET /_anki/css/deckbrowser.css
1673615929.071 GET /_anki/js/webview.js
1673615929.072 GET /_anki/js/vendor/jquery.min.js
1673615929.072 GET /_anki/js/vendor/jquery-ui.min.js
1673615929.073 GET /_anki/js/deckbrowser.js
1673615929.074 GET /_anki/imgs/gears.svg
1673615929.079 GET /_anki/css/webview.css
1673615929.080 GET /_anki/css/toolbar.css
1673615929.080 GET /_anki/js/vendor/jquery.min.js
1673615929.081 GET /_anki/js/webview.js
1673615929.081 GET /_anki/css/toolbar-bottom.css
sql: select mod from col
sql: rollback
sql: select mod, scm, ls from col
sql: select mod from col
sql: begin exclusive
sql: select id, name from decks order by name
sql: SELECT id,   name,   mtime_secs,   usn,   common,   kind FROM decks
sql: select null from cards where did=1
sql: SELECT val FROM config WHERE KEY = 'lastUnburied'
sql: SELECT val FROM config WHERE KEY = 'normalize_note_text'
sql: DROP TABLE IF EXISTS search_cids;
sql: CREATE TEMPORARY TABLE search_cids (cid integer PRIMARY KEY NOT NULL);
sql: insert into search_cids select c.id from cards c where c.queue in (-2,-3)
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id in (select cid from search_cids)
sql: drop table if exists search_cids
sql: SELECT val,   usn,   mtime_secs FROM config WHERE KEY = 'lastUnburied'
sql: INSERT   OR REPLACE INTO config (KEY, usn, mtime_secs, val) VALUES ('lastUnburied', -1, 1673616528, x'31383737')
sql: SELECT val FROM config WHERE KEY = 'localOffset'
sql: SELECT val FROM config WHERE KEY = 'schedVer'
sql: SELECT val FROM config WHERE KEY = 'rollover'
sql: select crt from col
sql: SELECT val FROM config WHERE KEY = 'creationOffset'
sql: SELECT val FROM config WHERE KEY = 'collapseTime'
sql: SELECT val FROM config WHERE KEY = 'schedVer'
sql: SELECT val FROM config WHERE KEY = 'sched2021'
sql: SELECT val FROM config WHERE KEY = 'schedVer'
sql: SELECT did,   -- new   sum(queue = 0),   -- reviews   sum(     queue = 2     AND due <= 1877   ),   -- interday learning   sum(     queue = 3     AND due <= 1877   ),   -- intraday learning   sum(     (       CASE         2         WHEN 2 THEN (           -- v2 scheduler           (             queue = 1             AND due < 1673617728           )           OR (             queue = 4             AND due <= 1673617728           )         )         ELSE (           -- v1 scheduler           CASE             WHEN queue = 1             AND due < 1673617728 THEN left / 1000             ELSE 0           END         )       END     )   ),   -- total   COUNT(1) FROM cards group by did
sql: SELECT id,   name,   mtime_secs,   usn,   config FROM deck_config
sql: SELECT val FROM config WHERE KEY = 'curDeck'
sql: SELECT COUNT(),   coalesce(sum(time) / 1000.0, 0.0) FROM reviews AS revlog WHERE id > 1673607600000   AND type != 4
sql: SELECT val FROM config WHERE KEY = 'schedVer'
sql: select mod from col
sql: rollback
sql: select mod, scm, ls from col
sql: select mod from col
sql: begin exclusive
1673616529.062 GET /_anki/legacyPageData
1673616529.062 GET /_anki/legacyPageData
1673616529.077 GET /_anki/css/webview.css
1673616529.078 GET /_anki/css/deckbrowser.css
1673616529.080 GET /_anki/js/webview.js
1673616529.080 GET /_anki/js/vendor/jquery.min.js
1673616529.080 GET /_anki/js/vendor/jquery-ui.min.js
1673616529.082 GET /_anki/js/deckbrowser.js
1673616529.083 GET /_anki/imgs/gears.svg
1673616529.087 GET /_anki/css/webview.css
1673616529.087 GET /_anki/css/toolbar.css
1673616529.088 GET /_anki/js/webview.js
1673616529.088 GET /_anki/css/toolbar-bottom.css
1673616529.089 GET /_anki/js/vendor/jquery.min.js
sql: select mod from col
sql: rollback
sql: select mod, scm, ls from col
sql: select mod from col
sql: begin exclusive
sql: select id, name from decks order by name
sql: SELECT id,   name,   mtime_secs,   usn,   common,   kind FROM decks
sql: select null from cards where did=1
sql: SELECT val FROM config WHERE KEY = 'lastUnburied'
sql: SELECT val FROM config WHERE KEY = 'normalize_note_text'
sql: DROP TABLE IF EXISTS search_cids;
sql: CREATE TEMPORARY TABLE search_cids (cid integer PRIMARY KEY NOT NULL);
sql: insert into search_cids select c.id from cards c where c.queue in (-2,-3)
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id in (select cid from search_cids)
sql: drop table if exists search_cids
sql: SELECT val,   usn,   mtime_secs FROM config WHERE KEY = 'lastUnburied'
sql: INSERT   OR REPLACE INTO config (KEY, usn, mtime_secs, val) VALUES ('lastUnburied', -1, 1673617129, x'31383737')
sql: SELECT val FROM config WHERE KEY = 'localOffset'
sql: SELECT val FROM config WHERE KEY = 'schedVer'
sql: SELECT val FROM config WHERE KEY = 'rollover'
sql: select crt from col
sql: SELECT val FROM config WHERE KEY = 'creationOffset'
sql: SELECT val FROM config WHERE KEY = 'collapseTime'
sql: SELECT val FROM config WHERE KEY = 'schedVer'
sql: SELECT val FROM config WHERE KEY = 'sched2021'
sql: SELECT val FROM config WHERE KEY = 'schedVer'
sql: SELECT did,   -- new   sum(queue = 0),   -- reviews   sum(     queue = 2     AND due <= 1877   ),   -- interday learning   sum(     queue = 3     AND due <= 1877   ),   -- intraday learning   sum(     (       CASE         2         WHEN 2 THEN (           -- v2 scheduler           (             queue = 1             AND due < 1673618329           )           OR (             queue = 4             AND due <= 1673618329           )         )         ELSE (           -- v1 scheduler           CASE             WHEN queue = 1             AND due < 1673618329 THEN left / 1000             ELSE 0           END         )       END     )   ),   -- total   COUNT(1) FROM cards group by did
sql: SELECT id,   name,   mtime_secs,   usn,   config FROM deck_config
sql: SELECT val FROM config WHERE KEY = 'curDeck'
sql: SELECT COUNT(),   coalesce(sum(time) / 1000.0, 0.0) FROM reviews AS revlog WHERE id > 1673607600000   AND type != 4
sql: SELECT val FROM config WHERE KEY = 'schedVer'
sql: select mod from col
sql: rollback
sql: select mod, scm, ls from col
sql: select mod from col
sql: begin exclusive
1673617129.131 GET /_anki/legacyPageData
1673617129.132 GET /_anki/legacyPageData
1673617129.143 GET /_anki/css/webview.css
1673617129.147 GET /_anki/css/deckbrowser.css
1673617129.148 GET /_anki/js/webview.js
1673617129.149 GET /_anki/js/vendor/jquery.min.js
1673617129.150 GET /_anki/js/vendor/jquery-ui.min.js
1673617129.151 GET /_anki/css/webview.css
1673617129.152 GET /_anki/js/deckbrowser.js
1673617129.152 GET /_anki/imgs/gears.svg
1673617129.155 GET /_anki/css/toolbar.css
1673617129.157 GET /_anki/css/toolbar-bottom.css
1673617129.157 GET /_anki/js/vendor/jquery.min.js
1673617129.158 GET /_anki/js/webview.js
sql: select mod from col
sql: rollback
sql: select mod, scm, ls from col
sql: select mod from col
sql: begin exclusive
sql: select id, name from decks order by name
sql: SELECT id,   name,   mtime_secs,   usn,   common,   kind FROM decks
sql: select null from cards where did=1
sql: SELECT val FROM config WHERE KEY = 'lastUnburied'
sql: SELECT val FROM config WHERE KEY = 'normalize_note_text'
sql: DROP TABLE IF EXISTS search_cids;
sql: CREATE TEMPORARY TABLE search_cids (cid integer PRIMARY KEY NOT NULL);
sql: insert into search_cids select c.id from cards c where c.queue in (-2,-3)
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id in (select cid from search_cids)
sql: drop table if exists search_cids
sql: SELECT val,   usn,   mtime_secs FROM config WHERE KEY = 'lastUnburied'
sql: INSERT   OR REPLACE INTO config (KEY, usn, mtime_secs, val) VALUES ('lastUnburied', -1, 1673617728, x'31383737')
sql: SELECT val FROM config WHERE KEY = 'localOffset'
sql: SELECT val FROM config WHERE KEY = 'schedVer'
sql: SELECT val FROM config WHERE KEY = 'rollover'
sql: select crt from col
sql: SELECT val FROM config WHERE KEY = 'creationOffset'
sql: SELECT val FROM config WHERE KEY = 'collapseTime'
sql: SELECT val FROM config WHERE KEY = 'schedVer'
sql: SELECT val FROM config WHERE KEY = 'sched2021'
sql: SELECT val FROM config WHERE KEY = 'schedVer'
sql: SELECT did,   -- new   sum(queue = 0),   -- reviews   sum(     queue = 2     AND due <= 1877   ),   -- interday learning   sum(     queue = 3     AND due <= 1877   ),   -- intraday learning   sum(     (       CASE         2         WHEN 2 THEN (           -- v2 scheduler           (             queue = 1             AND due < 1673618928           )           OR (             queue = 4             AND due <= 1673618928           )         )         ELSE (           -- v1 scheduler           CASE             WHEN queue = 1             AND due < 1673618928 THEN left / 1000             ELSE 0           END         )       END     )   ),   -- total   COUNT(1) FROM cards group by did
sql: SELECT id,   name,   mtime_secs,   usn,   config FROM deck_config
sql: SELECT val FROM config WHERE KEY = 'curDeck'
sql: SELECT COUNT(),   coalesce(sum(time) / 1000.0, 0.0) FROM reviews AS revlog WHERE id > 1673607600000   AND type != 4
sql: SELECT val FROM config WHERE KEY = 'schedVer'
sql: select mod from col
sql: rollback
sql: select mod, scm, ls from col
sql: select mod from col
sql: begin exclusive
1673617729.050 GET /_anki/legacyPageData
1673617729.050 GET /_anki/legacyPageData
1673617729.065 GET /_anki/css/webview.css
1673617729.066 GET /_anki/css/deckbrowser.css
1673617729.068 GET /_anki/js/webview.js
1673617729.068 GET /_anki/js/vendor/jquery.min.js
1673617729.070 GET /_anki/js/vendor/jquery-ui.min.js
1673617729.070 GET /_anki/js/deckbrowser.js
1673617729.074 GET /_anki/css/webview.css
1673617729.074 GET /_anki/css/toolbar.css
1673617729.075 GET /_anki/imgs/gears.svg
1673617729.075 GET /_anki/js/webview.js
1673617729.076 GET /_anki/css/toolbar-bottom.css
1673617729.076 GET /_anki/js/vendor/jquery.min.js

In [9]:
import datetime as dt

In [15]:
dt.datetime.fromtimestamp(1673582757562/1000)

datetime.datetime(2023, 1, 12, 21, 5, 57, 562000)

sql: select id, name from decks order by name
sql: SELECT id,   name,   mtime_secs,   usn,   common,   kind FROM decks
sql: select null from cards where did=1
sql: SELECT val FROM config WHERE KEY = 'lastUnburied'
sql: SELECT val FROM config WHERE KEY = 'normalize_note_text'
sql: DROP TABLE IF EXISTS search_cids;
sql: CREATE TEMPORARY TABLE search_cids (cid integer PRIMARY KEY NOT NULL);
sql: insert into search_cids select c.id from cards c where c.queue in (-2,-3)
sql: SELECT id,   nid,   did,   ord,   cast(mod AS integer),   usn,   type,   queue,   due,   cast(ivl AS integer),   factor,   reps,   lapses,   left,   odue,   odid,   flags,   data FROM cards where id in (select cid from search_cids)
sql: drop table if exists search_cids
sql: SELECT val,   usn,   mtime_secs FROM config WHERE KEY = 'lastUnburied'
sql: INSERT   OR REPLACE INTO config (KEY, usn, mtime_secs, val) VALUES ('lastUnburied', -1, 1673615329, x'31383737')
sql: SELECT val FROM config WHERE KEY = 'localOffset'
sql: SELECT val FROM config WHERE KEY = 'schedVer'
sql: SELECT val FROM config WHERE KEY = 'rollover'
sql: select crt from col
sql: SELECT val FROM config WHERE KEY = 'creationOffset'
sql: SELECT val FROM config WHERE KEY = 'collapseTime'
sql: SELECT val FROM config WHERE KEY = 'schedVer'
sql: SELECT val FROM config WHERE KEY = 'sched2021'
sql: SELECT val FROM config WHERE KEY = 'schedVer'
sql: SELECT did,   -- new   sum(queue = 0),   -- reviews   sum(     queue = 2     AND due <= 1877   ),   -- interday learning   sum(     queue = 3     AND due <= 1877   ),   -- intraday learning   sum(     (       CASE         2         WHEN 2 THEN (           -- v2 scheduler           (             queue = 1             AND due < 1673616529           )           OR (             queue = 4             AND due <= 1673616529           )         )         ELSE (           -- v1 scheduler           CASE             WHEN queue = 1             AND due < 1673616529 THEN left / 1000             ELSE 0           END         )       END     )   ),   -- total   COUNT(1) FROM cards group by did
sql: SELECT id,   name,   mtime_secs,   usn,   config FROM deck_config
sql: SELECT val FROM config WHERE KEY = 'curDeck'
sql: SELECT COUNT(),   coalesce(sum(time) / 1000.0, 0.0) FROM reviews AS revlog WHERE id > 1673607600000   AND type != 4
sql: SELECT val FROM config WHERE KEY = 'schedVer'
sql: select mod from col
sql: rollback
sql: select mod, scm, ls from col
sql: select mod from col
sql: begin exclusive
1673615329.126 GET /_anki/legacyPageData
1673615329.127 GET /_anki/legacyPageData
1673615329.140 GET /_anki/css/webview.css
1673615329.141 GET /_anki/css/deckbrowser.css
1673615329.142 GET /_anki/js/webview.js
1673615329.143 GET /_anki/js/vendor/jquery.min.js
1673615329.144 GET /_anki/js/vendor/jquery-ui.min.js
1673615329.144 GET /_anki/js/deckbrowser.js
1673615329.149 GET /_anki/css/webview.css
1673615329.149 GET /_anki/css/toolbar.css
1673615329.150 GET /_anki/css/toolbar-bottom.css
1673615329.150 GET /_anki/js/vendor/jquery.min.js
1673615329.152 GET /_anki/js/webview.js
1673615329.155 GET /_anki/imgs/gears.svg